<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                 class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{user.firstName}} {{user.lastName}}</h5>
            <p class="text-muted mb-4">Member</p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-primary" routerLink="/edit-profile">Edit Profile</button>
              <button type="button" class="btn btn-outline-primary ms-1" (click)="onLogOut()">logout</button>
            </div>
          </div>
        </div>

        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex align-items-center p-3">
                <fa-icon [icon]="faMoneyBill" class="fas fa-globe fa-lg text-warning"></fa-icon>
                <p class="mb-0 ms-4">To pay</p>
              </li>
              <li class="list-group-item d-flex align-items-center p-3">
                <fa-icon [icon]="faBox" class="fab fa-github fa-lg" style="color: #333333;"></fa-icon>
                <p class="mb-0 ms-4">To Ship</p>
              </li>
              <li class="list-group-item d-flex align-items-center p-3">
                <fa-icon [icon]="faTruckFast" class="fab fa-twitter fa-lg" style="color: #55acee;"></fa-icon>
                <p class="mb-0 ms-4">To Receive</p>
              </li>
              <li class="list-group-item d-flex align-items-center p-3">
                <fa-icon [icon]="faComment" class="fab fa-instagram fa-lg" style="color: #ac2bac;"></fa-icon>
                <p class="mb-0 ms-4">To Review</p>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.firstName}} {{user.lastName}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.userName}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.contact}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Gender</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.gender}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.address}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">Purchase</span> History
                </p>
                <p class="mb-1" style="font-size: .77rem;">January</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                       aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">February</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                       aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">March</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                       aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">April</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                       aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">May</p>
                <div class="progress rounded mb-2" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                       aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">Services</span>
                </p>
                <ul class="list-group list-group-flush rounded-3">
                  <li class="list-group-item d-flex align-items-center p-3">
                    <fa-icon [icon]="faHeart" class="fas fa-lg"></fa-icon>
                    <p class="mb-0 ms-4">Saved</p>
                  </li>
                  <li class="list-group-item d-flex align-items-center p-3">
                    <fa-icon [icon]="faCreditCard" class="fab fa-lg" ></fa-icon>
                    <p class="mb-0 ms-4">Payment Options</p>
                  </li>
                  <li class="list-group-item d-flex align-items-center p-3">
                    <fa-icon [icon]="faEnvelope" class="fab fa-lg" ></fa-icon>
                    <p class="mb-0 ms-4">Massages</p>
                  </li>
                  <li class="list-group-item d-flex align-items-center p-3">
                    <fa-icon [icon]="faHeadset" class="fab fa-lg " ></fa-icon>
                    <p class="mb-0 ms-4">Help</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
