<div style="margin-top: 20px;">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card text-bg-primary">
        <h4 class="card-header">Sales</h4>
        <div class="card-body">
          <p class="card-text text-adjustment">{{sales}}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-bg-danger">
        <h4 class="card-header">Ordes</h4>
        <div class="card-body">
          <p class="card-text text-adjustment">{{orders}}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-bg-success">
        <h4 class="card-header">Users</h4>
        <div class="card-body">
          <p class="card-text text-adjustment">{{users}}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-bg-dark">
        <h4 class="card-header">Products</h4>
        <div class="card-body">
          <p class="card-text text-adjustment">{{products}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

