<div class="container mt-3 mb-3 bg-light">
  <h3>About Us</h3>
  <p>Welcome to Jeewaka Products, your source for high-quality spices and herbs. We are a family-owned business that has
    been providing customers with premium spice blends for over 20 years.</p>

  <p>Our passion for cooking and love for the diverse flavors of our Sri Lankan
    heritage inspired us to create Jeewaka Products. We started out small, blending
    spices in our home kitchen and sharing our creations with friends and family. As word
    spread about the delicious flavors of our spice blends,
    we decided to turn our hobby into a business.</p>

  <p>At Jeewaka Products, we believe that good food starts with good ingredients.
    That's why we source only the freshest and highest quality spices from around the
    world. Our products are carefully crafted in small batches to ensure that each blend
    is perfectly balanced and full of flavor.</p>

  <p>Being a Sri Lankan-based spice company, we have done an extensive exploration of the
    spice industry and gathered all the necessary information about Ceylon spices. As a
    Sri Lankan company, we pride ourselves with being able to access top quality Ceylon
    spices. We are unique in the sense that we have put on offer our products in various
    grades and standards to match the different levels of prices.</p>

  <p>At Jeewaka Products, we believe that good food starts with good ingredients.
    That's why we source only the freshest and highest quality spices from around
    the world. Our products are carefully crafted in small batches to ensure that each
    blend is perfectly balanced and full of flavor.</p>

  <h4>Our Vision</h4>

  <p>"Our vision is to be the go-to source for high-quality, premium spices and herbs that
    bring out the best in every dish. We aim to offer a wide range of spices and blends that
    cater to diverse culinary traditions, while maintaining our commitment to sourcing only
    the finest ingredients from around the Srilanka.</p>

  <h4>Our Mission</h4>

  <p>"Our mission is to provide the highest quality spices and herbs to our customers,
    while promoting the importance of culinary diversity and sustainability. We are committed
    to sourcing only the finest ingredients from around the world, and to maintaining strict
    quality control measures to ensure the purity and freshness of our products.</p>

  <p>Thank you for choosing Jeewaka Products. We look forward to sharing our love of spices
    with you!</p>
  <br>
</div>
