<div class="content1">
  <div class="lbl">
  <h1 class="fontLvl1" id="welcome">Welcome to jeewaka products</h1>
  <p class="fontLvl2" id="buy">Buy the best products you need!</p>
  <a><button type="submit" id="snbtn" (click)="onShopNowBtn()">Shop Now</button></a>
  </div>
</div>

<div class="content2">
  <div class="card-group">
    <div class="card">
      <img src="../../../../assets/img/mushroom.jpg" class="card-img-top" alt="..." style="height: 360px;">
      <div class="card-body">
        <h5 class="card-title">Mushroom Farms</h5>
        <p class="card-text">Harvest the Magic: Explore our Mushroom Farm for Fresh, Nutritious Delights!</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="../../../../assets/img/grinder.jpg" class="card-img-top" alt="..." style="height: 360px;">
      <div class="card-body">
        <h5 class="card-title">Grinder  Machine</h5>
        <p class="card-text">Unlock the Power of Efficiency with Our Top-Notch Grinder Machines!</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="../../../../assets/img/dehydrator.jpg" class="card-img-top" alt="..." style="height: 360px;">
      <div class="card-body">
        <h5 class="card-title">Dehydrator</h5>
        <p class="card-text"> Our Dehydrators for Deliciously Dried Delights!</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
